@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #0A0F1C inset !important;
  -webkit-text-fill-color: #ebe7e1 !important;
  caret-color: #ebe7e1;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradient-move 10s ease infinite;
}

/* loading animation for posts */
@keyframes shimmer-post {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0) 100%);
  animation: shimmer-post 1.8s infinite linear;
}


@keyframes shimmer-cyan {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer-cyan::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    rgba(0, 119, 255, 0) 0%,
    rgba(0, 224, 255, 0.25) 50%,
    rgba(0, 119, 255, 0) 100%
  );
  animation: shimmer-cyan 1.8s infinite linear;
}